/*==============================
=            SHARED            =
==============================*/

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: $base-spacing-unit;
}

ul, ol,
dd {
  margin-left: $base-spacing-unit;
}

h1,h2,h3,h4,h5, h1 > a, h2 > a, h3 > a, h4 > a, h5 > a{
  color: $color-brand-primary;
  @include header-font;
}

p {
  @include body-font;
  color: $color-brand-primary;
}

b,strong {
@include header-font;
}
