.project
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
*.log

sitemap.xml
sitemap.xml.gz
sitemap-news.xml
error.log
.sass-cache
bower_components
node_modules


# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/cache/
wp-content/backups/

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/index.php
/wp-content/plugins/index.php


# Drupal Specfic
docroot/files
docroot/sites/*/files
docroot/sites/*/private

backups/*
/assets/*
docroot/sites/default/settings.local.php

.vagrant/
tests/vendor
tests/bin
tests/reports

docroot/CHANGELOG.txt
docroot/COPYRIGHT.txt
docroot/INSTALL.mysql.txt
docroot/INSTALL.pgsql.txt
docroot/INSTALL.sqlite.txt
docroot/INSTALL.txt
docroot/LICENSE.txt
docroot/MAINTAINERS.txt
docroot/README.txt
docroot/UPGRADE.txt

# Don't include patches from docroot/sites
docroot/sites/**/*.patch
docroot/sites/**/PATCHES.txt

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
