/*================================
=            Slider             =
================================*/


.o-slider__holder {
  z-index:  5; // Bring it in front of arrows
  overflow: hidden;
  margin: 0 auto;
}
.o-slider__single {
  margin: $base-spacing-unit 0;
  outline: none;
  overflow: hidden;
  @media (max-width: $break-mobile-land){
    height: auto;
  }
}
.o-slider__image {
  margin: 0 auto;
}

/********* Line pagination *********/

// .o-slider__pagination {
//   background: none;
//   border: none;
//   display: inline-block;
//   outline: none;
//   padding: $small-spacing-unit;
//   @media(max-width: $break-mobile-land) {
//     display: none;
//   }
//   span {
//     display: block;
//     height: 3px;
//     width: 15px;
//     background: $color-brand-secondary;
//   }
// }

.o-slider__pagination {
  border: none;
  margin: 0 $small-spacing-unit;
  padding: 0;
  height: 20px;
  width: 20px;
  font-size: 20px;
  line-height: 20px;
  display: block;
  position: relative;
  background: transparent;
  color: $color-brand-secondary;

  &:focus {
    outline: none;
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    content: '•';
    display: block;
  }
}
 .slick-active {
   .o-slider__pagination {
     color: $color-brand-primary;
 }
}
// Slick slider style changes

ul.slick-dots {
  list-style: none;
  text-align: center;
  margin: 0;

  li {
    cursor: pointer;
    margin: 0;
    display: inline-block;
    @include hocus() {
      outline: none;
      }
  }

}
.slick-arrow {
  list-style: none;
  width: $base-spacing-unit;
  height: 40px;
  line-height: 40px;
}
.o-slider__arrows {
  height: 40px;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 50%;
  padding: 0 50px;
  @media(max-width: $break-tablet) {
    display: none;
  }
}
// target both arrows
.o-slider__arrows-prev, .o-slider__arrows-next {
  position: absolute;
  z-index: 6;
}
.o-slider__arrows-prev {
  left: 20px;
  cursor: pointer;
}
.o-slider__arrows-next {
  right: 20px;
  cursor: pointer;
  transform: scaleX(-1);
}

// Adding youtube embed styling
.o-slider__single {
  iframe {
    display: block;
    margin: 0 auto;
  }
}
