/*================================
=            WRAPPERS            =
================================*/

.o-site-container {
  // Sticky Footer
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.o-site-content {
  flex: 1 0 auto;
  width: 100%;
}

// Susy grid container
.o-layout-container{
  @include container;
  width: 100%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  * {
    box-sizing: border-box;
  }
}
