.c-btn {
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid $color-brand-primary;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  @include font-size(16px);
  @include hocus() {
    text-decoration: none;
    background-color: $color-brand-primary;
    color: #FFF;
  }
}
.c-btn--red {
  background-color: $color-button-red-background;
  color: $color-button-red;
  border: 1px solid $color-button-red;
}
.c-btn--big {
  @include font-size(20px);
}
