.c-site-header{
  flex: none;
  background-color: $color-page-head-background;
  padding: ($base-spacing-unit + 40) 0 ($base-spacing-unit + 10) 0;
  text-align: center;
  h1{
    font-size: $header-one-size;
  }
}
