.c-hero {
  position: relative;
}

.c-hero__image {
  background-position: center;
  width: 100%;
  display: none;
  background-size: 0;
  position: absolute;

  @include breakpoint($break-tablet){
    height: 450px;
    background-size: cover;
    display: block;
  }
}

.c-hero__image-mobile {

  @include breakpoint($break-tablet){
    display: none;
  }
  img {
      width: 100%;
  }
}

.c-hero__content {
  padding: 20px 0px;
  border-radius: 10px;
  background-color: $color-white;

  @include breakpoint($break-tablet){
    position: relative;
    margin-top: 375px;
  }
}

.c-hero__title {
  text-align: center;

  h1 {
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 2px solid $color-white;
    @media (max-width: 400px) {
      font-size: 30px;
    }
  }
}

.c-hero__sub-title {
  margin: 0 auto;
  text-align: center;
  padding-top: 7px;

  h4 {
    line-height: 1.25;
    font-weight: 700;
  }

    @include breakpoint($break-tablet){
      max-width: 50%;
    }
}
.c-hero__info {
  font-size: 17px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.75;
  @media (max-width: 400px) {
    font-size: 15px;
    line-height: 1.7em;
  }

    @include breakpoint($break-tablet){
      width: 75%;
      max-width: 600px;
    }
}
