/*------------------------------------*\
  #NAV-PRIMARY
\*------------------------------------*/

.c-nav-primary {
  padding-top: $base-spacing-unit;
}

.c-nav-primary__item {}

.c-nav-primary__link {
  display: inline-block;
  margin: 0 $base-spacing-unit;


  a{
    @include nav-font();
    font-size: 16px;
    &:hover {
      @include header-font;
    }
  }

}

// Wordpress own

.current_page_item, .current_page_parent {
  border-bottom: 3px solid $color-brand-primary;
  a{
      @include header-font();
  }
}
