/*------------------------------------*\
  #NAV-PRIMARY
\*------------------------------------*/

.c-nav-primary {
  padding-top: $base-spacing-unit;
}

.c-nav-primary__item {}

.c-nav-primary__link {
  display: inline-block;
  margin: 0 $base-spacing-unit;


  a{
    @include header-font();
    font-size: 16px;
  }
}

// Wordpress own

.current_page_item {
  border-bottom: 3px solid $color-brand-primary;
}
